.ui-page{
	color: white;
	text-shadow:none;
	font-family: 'Lato', sans-serif;
}


#fraces-home{
	background-color: #16a085;
	background-size: cover;
}

#fraces-home .ui-header{
background-color: transparent;
border: none;
}

#fraces-home .ui-header h1{
	font-size: 23px;
	font-weight: 300;
	margin:0 5px;
	text-shadow:none;
}

 #fraces-home .ui-content{
 	padding-top: 25%;
 	font-size: 27px;
 	text-align: center;
 }

#fraces-home .ui-footer{
background-color: transparent;
border: none;
}

#fraces-home .ui-footer h4{
	font-size: 14px;
	font-weight: 300;
	margin:0 20%;
	text-shadow:none;

}
#fraces-home .ui-content button {
	box-shadow: none;
 	border: none;
 	text-shadow:none;
 	background-color: transparent;
 	color: white;
 	font-size: 30px;
 
}