@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);

.ui-page {

	color: white;
	text-shadow:none;
	font-family: 'Lato', sans-serif;
	text-align: center;

}

#winker-home {
	
	background-color: #272c35;
	background-size: cover;

}

.ui-page .ui-header {

	background-color: transparent;
	border:none;

}

.ui-header .ui-btn-left, .ui-header .ui-btn-right{

	background-color: transparent;
	color: white;
	text-shadow: none;
	border: none;
	margin-top: 9px;
	margin-left: 13px;
	font-size: 20px;

}

}
.ui-header .ui-btn-left i, .ui-header .ui-btn-right{
	color: white;

}
.ui-header .ui-btn-left:hover i, .ui-header .ui-btn-right:hover i,{
	background: transparent;
	color: #4d4d4d;
}
.ui-header .ui-btn-left i:active, .ui-header .ui-btn-right i:active{
	background: transparent;
	color: white;
}

#winker-home .ui-header h1 {

	font-size: 40px;
	font-weight: 300;
	text-shadow:none;
	color: white;

}

#winker-home .ui-header h1 i {
	
	color: white;

}

a{
	padding: none;
	font-size: 12px;
	text-align: center;
}

#winker-pagina2 .ui-header h1{
	margin: 0 10%;
}

#winker-pagina2 .ui-header h2{
	white-space: normal;
	font-size: 15px;
}

#winker-home .ui-footer {

	background-color: transparent;
	border:none;

}

#winker-home .ui-footer h4 {

	font-size: 15px;
	font-weight: 300;
	margin: 0 20%;
	text-shadow:none;
	color: white;

}

#winker-home .ui-content {

	padding-top: 0%;

}

img{
	margin-top: 50px;
	margin-left: 25px;
}

#winker-home .ui-content .ui-input-text {
	
	box-shadow: none;
	border: none;
	text-shadow:none;
	
	border-radius: 2px;
	padding: 10px 10px;

}

#winker-home .ui-content button {
	
	box-shadow: none;
	border: none;
	text-shadow:none;
	border-radius: 2px;
	padding: 10px 10px;

	border: 2px solid white;
	color: white;
	background-color: transparent;
	font-size: 25px;
	font-weight: lighter;

}


#winker-home .ui-content button:hover {
	
	background-color: white;
	color: black;

}

.ui-page {

	color: white;
	text-shadow:none;
	font-family: 'Lato', sans-serif;

}

.ricawinker {
	
	background-color: #272c35;
	background-size: cover;

}

.ricawinker .ui-header h1{

	font-size: 40px;
	font-weight: 300;
	margin: 0 20%;
	text-shadow:none;
	color: white;
	padding: 10px;
	padding-bottom: 0px;
	font-style: italic;


}

.ricawinker .ui-header h2{

	font-size: 18px;
	font-weight: 300;
	margin: 0 10%;
	text-shadow:none;
	color: white;
	padding: 0px;
	padding-bottom: 0px;
	font-style: italic;

}

.ricawinker .ui-content{
	padding: 0px;
}

#winker-pagina1 .pagina1-wrap{

	width: 65%;
	height: 50px;
	background-color: #272c35;
	margin: 50px auto;
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	display: table;
}

#winker-pagina1 .pagina1-wrap:hover{

	opacity: 0.9;

}
#winker-pagina1 .pagina1-wrap .pagina1-texto-wrap{

	display: table-cell;
	vertical-align: middle;
}

#winker-pagina1 .pagina1-wrap .pagina1-texto-wrap .pagina1-texto-container{

	margin: 0 auto;
}

#winker-pagina1 .pagina1-texto-container h3{
	color: white;
	margin: 6px;
}

#winker-pagina1 .pagina1-texto-container span{
	color: #322113;
	font-weight: 300;
}	

#winker-pagina1 .pagina1-texto-container h3:hover{
		color: gray;
}

#winker-pagina2 .ui-content {

	padding: 40px 15px;

}

#winker-pagina2 .ui-bar {
	background-color: transparent;
	border: none;
	text-align: center;
	font-weight: 300;
	height: 20%;
}

#winker-pagina2 .ui-bar img{

	display: block;
	margin: 10px auto;
}

#winker-pagina2 .ui-bar img:hover {
	opacity: .1;
} 


#winker-pagina3 .wrap-pagina3 {
	margin: 0 12%;
	padding: 20px;
	color: white;
	font-weight: 300;
	margin-top: 15px;

}
#winker-pagina3 .wrap-pagina3 h4{
	font-weight: 300;
	font-size: 16px;
	margin: 10px 0;
	border-bottom: 1px solid #8e8e8e;
	padding-bottom: 10px;
	
}
#winker-pagina3 .wrap-pagina3 th{
	font-weight: 300;
	font-size: 16px;
	text-align: left;
}

#winker-pagina3 .wrap-pagina3 .total{
	border-bottom: 1px solid white;
	padding-bottom: 10px;

}
#winker-pagina3 .wrap-pagina3 .orden{
	font-weight: 400;
	
}

#winker-pagina3 .wrap-pagina3 a {
	border: 1px solid #4d4d4d;
	padding-top: 7px 20px;
	text-align: center;
	text-decoration: none;
	color: #4d4d4d;
	margin: 0 auto;
	display:block;
	border-radius: 3px;
	margin-top: 15px;
}